{% import 'macros/form.html' as form %}

{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('e.g. climate change') %}
{% set form_id = form_id if form_id else false %}


<form {% if form_id %}id="{{ form_id }}" {% endif %} class="module-content search-form no-bottom-border" style="padding-bottom:0" method="get" data-module="select-switch" action="{% url_for controller='package', action='search' %}">
    <div class="search-input control-group ">
      <input type="text" class="search" name="q" value="{{ query }}" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>  
</form>
