{% import 'macros/form.html' as form %}

{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('Search data') %}
{% set form_id = form_id if form_id else false %}

{% if c.controller != 'package' %}
<form  class="no-bottom-border" style="padding-bottom:0"  action="{% url_for controller='package', action='search' %}">
{% endif %}
    <div class="search-input control-group" style="padding-bottom:15px;">
      <input type="search" class="search form-control input" name="q" value="{{ query }}" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}"/>
   </div>
</form>
