{#
Displays a sidebard module with information for given package

pkg    - The package dict that owns the resources.

Example:

  {% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% block package_info %}
  {% if pkg %}
    <section class="module module-narrow">
      <div class="module context-info">
        <div class="module-content">
          {% block package_info_inner %}
            {% block heading %}
              {#}<h1 class="heading">{{ pkg.title or pkg.name }}</h1>{#}
            {#}  <h1 class="module-heading"><i class="icon-building"></i></h1>{#}
            {% endblock %}

            {% block nums %}
              <div class="nums">
                  <dl>
                  <dt>{{ _('Followers') }}</dt>
                  <dd>{{ h.SI_number_span(h.follow_count('dataset', pkg.id)) }}</dd>
                  </dl>

                  {% if pkg.tracking_summary %}
                  {#} New; Anja, 12.9, 2017; (rest from ckan){#}
                  <dl>
                  <dt>{{ _('Views') }}</dt>
                  <dd>{{ h.SI_number_span(pkg.tracking_summary.total) }}</dd>
                  </dl>
                 {% endif %}
              <div>
            {% endblock %}

            {% block follow_button %}
              {% set current_url = h.full_current_url() %}

              {% if not hide_follow_button %}
                <div class="follow_button">
                  {{ h.follow_button('dataset', pkg.name) }}
                 </div>
                 <br>
             {% endif %}
                <a href="https://plus.google.com/share?url={{ current_url }}" target="_blank" data-toggle="tooltip" title="Share on Google+" class="nav-item"><i style="color:black" class="icon-google-plus-sign"></i> </a>
                <a href="https://twitter.com/share?url={{ current_url }}" target="_blank" data-toggle="tooltip" title="Share on Twitter"><i style="color:black" class="icon-twitter-sign"></i> </a>
                <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank" data-toggle="tooltip" title="Share on Facebook"><i style="color:black" class="icon-facebook-sign"></i> </a>
            {% endblock %}
          {% endblock %}
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}
