{% ckan_extends %}

{% set pkg = c.pkg_dict %}
{% set current_url = h.full_current_url() %}


{% macro license_string(pkg_dict) %}
  {% if 'license_url' in pkg_dict %}
    <a href="{{ pkg_dict.license_url }}" rel="dc:rights" target="_blank">{{ pkg_dict.license_title }}</a>
  {% else %}
    <span property="dc:rights">{{ pkg_dict.license_title }}</span>
  {% endif %}
{% endmacro %}


{% block page_header %}
{% endblock %}

{% block package_description %}

<span  style="margin-left:0px; float:right;padding-left:15px;padding-button:15px;" >
  <div align="right">
      <a class="btn btn-sm" href="javascript:void(0);" onclick="javascript:introJs().setOption('tooltipClass', 'customDefault').setOption('showProgress', true).start();" title="Explain me this page">
        <i class="icon-question-sign icon-2x"></i>
      </a>
      {% if h.check_access('package_update', {'id':pkg.id }) %}
        <span data-step="7" data-intro="Here you can edit the dataset.">
        {% link_for _('Manage'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary', icon='wrench'%}
        </span>
        <br> <br>
      {% endif %}

      {% if pkg.private %}
        <span class="dataset-private label label-inverse">
          <i class="icon-lock"></i>
          {{ _('Private') }}
        </span>
        <br>
     {% endif %}

     {% block dataset_basket %}
     {{ super() }}
     <br><br>
     {% endblock %}


   <dt><i>{{ _('Followers: ') }}</i> {{ h.SI_number_span(h.follow_count('dataset', pkg.id)) }}  </dt>
     {% if pkg.tracking_summary %}
     <dt><i>{{ _('Views: ') }}</i> {{ h.SI_number_span(pkg.tracking_summary.total) }}</dt>
     {% endif %}

    <dt>
     {% if not hide_follow_button %}
       {{ h.filtersearch_toggle_following('dataset', pkg.name) }}
     {% endif %}
       <a href="https://www.facebook.com/sharer.php?u={{ current_url }}" target="_blank" data-toggle="tooltip" title="Share on Facebook"><i style="color:#3c5a99" class="icon-facebook-sign"></i> </a>
       <a href="https://twitter.com/share?url={{ current_url }}" target="_blank" data-toggle="tooltip" title="Share on Twitter"><i style="color:#57c1df" class="icon-twitter-sign"></i> </a>
       <a href="https://plus.google.com/share?url={{ current_url }}" target="_blank" data-toggle="tooltip" title="Share on Google+" class="nav-item"><i style="color:#ea4335" class="icon-google-plus-sign"></i> </a>
   </dt>

     {% if pkg.groups %}
     <br>
     {% set _class = _class or 'tag-list well' %}
       {% for group in pkg.groups %}
           <a class="fs_group_button"  href="{% url_for controller='group', action='read', id=group.id %}">{{ h.truncate(group.display_name, 15) }}</a>
           <br>
       {% endfor %}
     {% endif %}
    </div>
  </span>

  {% block page_heading %}
    {{ super() }}
  {% endblock %}


    {% if pkg.organization or  pkg.license_id  %}
    <h5>
        {% if pkg.organization %}
        Published by: {% link_for pkg.organization.title , controller='organization', action='read', id=pkg.organization.name  %}
        {% endif %}
        {% if pkg.license_id %}
        License:  {{ license_string(pkg) }}
        {% endif %}
      </h5>
    {% endif %}
    {% block package_notes %}
    {% if pkg.notes %}
    <span  style="margin-left:0px; float:left" >
      <div class="notes embedded-content" align="left">
        {{ h.render_markdown(pkg.notes) }}
      </div>
    </span>
    {% endif %}
    {% endblock %}

   <span class="pull-right  span2" style="margin-left:0px;float:right" >
     <div align="right">
    </div>
   </span>


  {# FIXME why is this here? seems wrong -> from CKAN source #}
    <span class="insert-comment-thread"></span>
{% endblock %}
