{% ckan_extends %}

{#} Rename {#}
{% block page_primary_action %}
{#} Anja, 25.4.18: 'Add Dataset' only within dashboard
  {% if h.check_access('package_create') %}
    <div class="page_primary_action">
      {% link_for _('Add Dataset'), controller='package', action='new', class_='btn btn-success pull-right', icon='plus-sign-alt' %}
    </div>
  {% endif %}
  {#}
{% endblock %}

{% block form %}
  {% set facets = {
    'fields': c.fields_grouped,
    'search': c.search_facets,
    'titles': c.facet_titles,
    'translated_fields': c.translated_fields,
    'remove_field': c.remove_field }
  %}
  {% set sorting = [
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
  %}
  {% if c.controller != 'package' %}
    {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
  {% else %}
    {% snippet 'snippets/sort_results.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
  {%- endif %}
{% endblock %}

{% block secondary_content %}
<section class="module module-narrow module-shallow">
    <h2 class="module-heading" style="padding-top:15px"><i class="icon-large icon-search"></i>
        Search and Filter
        <a href="{{ h.url_for(controller='package', action='search')}}"  class="action">{{ _('Clear all') }}</a>
    </h2>
<div class="module-content">
{#} Search Bar  {#}
{% block search %}
      {% snippet 'home/snippets/side_search.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
{% endblock %}
</div>
</section>
<hr>

{% snippet "spatial/snippets/spatial_query.html" %}
<hr>
{{super()}} {#} Important - for date facet {#}
<div class="filters">
  <div ng-app="filtersearchApp">
    {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="icon-remove-sign"></i><span class="text">close</span></a>
</div>
{% endblock %}
