{% resource 'filtersearch/filtersearch_follow.js' %}
{% resource 'filtersearch/filtersearch.css' %}

{% set controller = obj_type %}
{% if controller == 'dataset' %}
  {% set controller = 'package' %}
{% endif %}


{% if following %}
  <a href="{{ h.url_for(controller=controller, action='unfollow', id=obj_id) }}"   data-toggle="tooltip" title="Unfollow updates on this {{obj_type}}" data-module="filtersearch-follow" data-module-type="{{ obj_type }}" data-module-id="{{ obj_id }}" data-module-action="unfollow">
      <i class="filtered pill icon-remove-sign red_back"></i>    {#}{{ _('Unfollow') }}{#}
  </a>
{% else %}
  <a href="{{ h.url_for(controller=controller, action='follow', id=obj_id) }}" data-toggle="tooltip" title="Follow updates on this {{obj_type}}" data-module="filtersearch-follow" data-module-type="{{ obj_type }}" data-module-id="{{ obj_id }}" data-module-action="follow">
      <i class="filtered pill icon-plus-sign green_back" style="color: green;"></i>    {#}{{ _('Follow') }}{#}
  </a>
{% endif %}
